/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* css Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.78;
}

/* Navigation Bar: Logo and image */
#logo {
    margin: 18px 60px;
}

#logo img {
    filter: invert(100%);
    height: 50px;
    margin: -15px -27px;
}

/*Navigation Bar List Styling */

#navbar ul {
    display: flex;
    font-family: 'Gentium Book Plus', serif;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 6px 28px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 362px;
    justify-content: center;
    align-items: center;

}

#home ::before {
    content: "";
    background: url('assets/First.jpg')no-repeat center center/cover;
    position: absolute;
    height: 412px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Cinzel', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Cinzel', serif;
}

/* Services section */
#services {
    margin: 25px;
    display: flex;
}

#services .box {
    /* border: 2px solid red; */
    box-shadow: 10px 10px 40px black;
    padding: 30px;
    margin: 3px 6px;
    border-radius: 10px;
    background-color: gainsboro;
}

#services .box img {
    height: 120px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Cinzel', serif;
}

/* Client Section */
#client-section {
    position: relative;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 124px;
}

#client-section::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 90%;
    z-index: -1;
    opacity: 0.34;
}

.client-item {
    padding: 44px 50px;
}

/* Contact Section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('/PROJECT-02/Image/Thirds.jpg') no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input {
    padding: 7px 217px;
    border: 2px solid black;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    color: white;
}

#contact-box textarea {
    width: 43vw;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.2rem;
    border: 2px solid black;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classe */
.h-primary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Gentium Book Plus', serif;
}

.h-secondary {
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Gentium Book Plus', serif;
}

.btn {
    padding: 6px 20px;
    background-color: brown;
    color: white;
    border: 2px solid white;
    margin: 17px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15px;
}

.center {
    text-align: center;
}